.wikipedia {
  background-color: #EEEEEE;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: inset 0.01rem 0.01rem 1rem #CCCCCC;

  button {
    text-decoration: none;
    padding: 0;
    background-color: transparent;
    border: 1px solid transparent;
    cursor: pointer;
    color: inherit;
    font-size: small;

    &:hover {
      border-bottom: 1px dotted;
    }

    &.hide {
      float: right;
      font-weight: normal;
    }
  }
}
