{
  "presets": [
    "@babel/react",
    "@babel/flow",
    "@babel/env"
  ],
  "plugins": [
    ["@babel/proposal-decorators", { "legacy": true }],
    ["@babel/proposal-class-properties", { "loose": true }],
    "react-hot-loader/babel",
    "lodash",
    [
      "react-css-modules",
      {
        "context": ".",
        "webpackHotModuleReloading": true,
        "generateScopedName": "[name]__[local]__[hash:base64:5]",
        "exclude": "./node_modules/",
        "filetypes": {
          ".scss": {
            "syntax": "postcss-scss"
          }
        }
      }
    ],
    [
      "import",
      {
        "libraryName": "antd",
        "style": "css"
      }
    ],
    [
      "@babel/transform-runtime",
      {
        "helpers": false,
        "regenerator": true
      }
    ],
    [
      "webpack-alias",
      {
        "config": "./webpack.base.config.js"
      }
    ]
  ]
}
