{
  "presets": [
    "latest",
    "stage-0",
    "react"
  ],
  "plugins": [
    "transform-decorators-legacy",
    "transform-class-properties",
    "react-hot-loader/babel",
    "lodash",
    [
      "react-css-modules",
      {
        "context": ".",
        "webpackHotModuleReloading": true,
        "generateScopedName": "[name]__[local]__[hash:base64:5]",
        "exclude": "./node_modules/",
        "filetypes": {
          ".scss": {
            "syntax": "postcss-scss"
          }
        }
      }
    ],
    [
      "import",
      {
        "libraryName": "antd",
        "style": "css"
      }
    ],
    [
      "transform-runtime",
      {
        "helpers": false,
        "polyfill": false,
        "regenerator": true
      }
    ],
    [
      "babel-plugin-webpack-alias",
      {
        "config": "./webpack.base.config.js"
      }
    ]
  ]
}
