:global {
  html {
    height: 100%;
  }

  body {
    background-color: #EEEEEE;
    font-family: $font-family;
  }

  body.list {
    @extend body;
    height: 100%;

    div#react-container {
      height: 100%;

      > div {
        height: 100%;
      }

      .ant-row-flex {
        height: 100%;
      }
    }
  }

  header {
    font-weight: bold;
    font-size: 2rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;

    a {
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  a {
    color: #333333 !important;

    &:hover {
      color: #333333 !important;
      text-decoration: underline !important;
    }
  }
}

.box {
  max-width: 1000px;
  height: 100%;
  display: flex;
  flex-direction: column;

  .content {
    background-color: #FFFFFF;
    border-radius: 5px;
    padding: 1.2rem;
    box-shadow: 0.01rem 0.01rem 1rem #CCCCCC;
    font-size: 0.9rem;
    margin-top: 30px;
    margin-bottom: 0.5rem;
    height: 100%;
  }

  .languages {
    text-align: right;
    font-size: 0.7rem;
    margin-bottom: 0.5rem;
    margin-right: 1rem;
  }

  .search {
    font-size: 1rem;
    padding-top: 0.6rem;
  }

  .auth {
    text-align: right;
    font-size: 1rem;
    font-weight: normal;
    padding: 0.8rem 1rem 0 0;
  }
}
