@import 'mixins';

.box {
  margin-right: 1rem;

  img {
    width: 100%;
    //margin-bottom: 0.2rem;
  }

  .title {
    transition: .5s ease;
    background-color: orange;
    opacity: 0;
    position: absolute;
    bottom: 2rem;
    right: 0.5rem;
    padding: 0.2rem 0.3rem;
    font-size: 0.8rem;
    text-align: right;
  }

  &:hover .title {
    opacity: 1;
  }
}
