@import 'mixins.scss';

.box {
  display: flex;
  font-size: 0.8rem;
  align-items: center;
  text-align: center;
  font-weight: normal;
  line-height: 1.3;
  flex-direction: column;

  .subtitle {
    font-size: 0.6rem;
    //margin-bottom: 0.3rem;
  }

  img {
    width: 180px;
    //margin-right: 0.5rem;
    margin-bottom: 0.7rem;
  }
}
