@import 'mixins';

.box {
  @extend %object-box;

  .image {
    margin-left: -2rem;

    img {
      width: 180px;
      height: 255px;
      box-shadow: 0.5rem 0.5rem 0.5rem #ccc;
    }
  }

  .relations {
    @extend %rel-box;
  }
}
