@import 'mixins.scss';

.info {
  font-size: 0.7rem;
  color: #333333;

  > span:not(:first-child) {
    &:before {
      content: '-';
      margin: 0 0.3rem;
    }
  }

  .year {
  }

  .runtime {
    i {
      @include fa-icon('clock-o');
      margin-right: 0.2rem;
    }
  }

  .genres {
  }

  .countries {
  }

  .languages {
  }
}
