:global {
  .ant-tabs-card {
    position: absolute;
    top: 46px;
    border-bottom: 0;
    font-family: $font-family;

    .ant-tabs-bar {
      border-color: white;
      border-bottom: 0;

      .ant-tabs-tab {
        border-color: transparent !important;
        background: transparent !important;
      }

      .ant-tabs-tab-active {
        border-color: #dee2e6 #dee2e6 white !important;
        background: white !important;
      }
    }
  }
}
