.box {
  .cast {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1rem;
  }

  .person {
    display: flex;
    margin-bottom: 0.4rem;
    font-size: 0.7rem;
    color: #666666;
    width: 50%;

    a {
      font-size: 0.8rem;
    }

    .image {
      margin-right: 0.5rem;

      img {
        width: 30px;
        height: 40px;
      }
    }
  }
}
