@import 'mixins.scss';

.box {
  border: 1px solid #CCC;
  border-radius: 5px;
  padding: 0.2rem 0.4rem;
  cursor: pointer;
  margin-right: 0.5rem;

  &:hover {
    background-color: #EEE;
  }

  i {
    @include fa-icon('times');
    margin-left: 0.2rem;
  }
}
