%button {
  text-decoration: none;
  padding: 0;
  background-color: transparent;
  border: 1px solid transparent;
  cursor: pointer;
  color: inherit;
  font-size: small;

  &:hover {
    border-bottom: 1px dotted;
  }
}

.more {
  @extend %button;
}

.hide {
  @extend %button;
  float: right;
  font-weight: normal;
}
