.box {
  flex: 1 1 auto;

  .filters {
    float: right;
    width: 180px;

    div {
      position: absolute;
      width: 180px;
    }

    select {
      display: block;
      width: 100%;
      margin-bottom: 0.4rem;
    }
  }

  .caption {
    margin-bottom: 0.5rem;
  }

  .list {
    height: 100%;
  }
}
