.box {
  flex: 1 1 auto;
  display: flex;

  .filters {
    flex-grow: 0;

    select {
      display: block;
      width: 100%;
      margin-bottom: 0.4rem;
    }
  }

  .caption {
    margin-bottom: 0.5rem;
  }

  .list {
    flex-grow: 6;
    margin-right: 1rem;
  }
}
