.box {
  width: 100%;

  .filters {
    :global {
      .ant-select {
        display: block;
        width: 100%;
        margin-bottom: 0.4rem;
      }
    }
  }

  .caption {
    margin-bottom: 0.5rem;
  }

  .list {
    padding-right: 1rem;
  }
}
