.box {
  .career {
    display: flex;
    flex-wrap: wrap;
  }

  .movie {
    display: flex;
    margin-bottom: 0.4rem;
    font-size: 0.7rem;
    color: #666;
    width: 50%;

    .title {
      a {
        font-size: 0.8rem;
        margin-right: 0.3rem;
      }
    }

    .image {
      margin-right: 0.5rem;

      img {
        width: 30px;
        height: 40px;
      }
    }
  }
}
